<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <title>Сотрудники</title>

    <!--
    •	Текстовое поле для ввода номера сотрудника (для дальнейшего поиска по этому номеру в базе данных).
    •	Кнопка, подтверждающая ввод номера сотрудника (для дальнейшей отправки введенных данных на сервер).
    •	Текстовое поле для ввода имени сотрудника (для дальнейшего поиска по этому имени в базе данных).
    •	Кнопка, подтверждающая ввод имени сотрудника (для дальнейшей отправки введенных данных на сервер).
    •	Кнопка для вывода информации обо всех сотрудниках.
    •	Гиперссылка для вывода веб-страницы создания нового сотрудника.
      -->
</head>
<body>
<div class="form">
<form action="">
<div class="input_text">
    <label>
        Номер сотрудника:
        <input type="Телефон">
    </label>
    <button>Подтвердить</button>
</div>
<div class="input_text">
    <label>
        Имя сотрудника:
        <input type="Имя">
    </label>
    <button>Подтвердить</button>

</div>
<button class="search">Найти</button>

</form>
</div>

<div class="create_new_employ">
    <a href="" id="">Создать нового сотрудника</a>
</div>
    <!--
      •	Таблица, включающая следующие поля и элементы соответственно:
    o	<Поле без имени> / checkbox (указывает, выбрана ли текущая строка таблицы);
    o	номер сотрудника / гиперссылка с текстом номера сотрудника;
    o	имя сотрудника / соответствующий текст;
    o	должность сотрудника / соответствующий текст;
    o	дата принятия на работу / соответствующий текст;
    o	департамент / соответствующий текст;
    o	“Удалить” / гиперссылка для удаления сотрудников.
    Заполнить таблицу произвольными данными о сотрудниках (не менее 10 позиций).-->
<div>
<table border="">
        <tbody>
        <tr>
            <th></th>
            <th>Номер сотрудника</th>
            <th>Имя</th>
            <th>Должность</th>
            <th>Дата принятия на работу</th>
            <th>Департмент</th>
            <th>Удалить</th>

        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>1</td>
            <td>Илья</td>
            <td>Программист</td>
            <td>12.12.2012</td>
            <td>Разработка</td>
            <td><a href="">Удалить</a></td>
        </tr>

        <tr>
            <td><input type="checkbox"></td>
            <td>1</td>
            <td>Илья</td>
            <td>Программист</td>
            <td>12.12.2012</td>
            <td>Разработка</td>
            <td><a href="">Удалить</a></td>
        </tr>

        <tr>
            <td><input type="checkbox"></td>
            <td>2</td>
            <td>Виктор</td>
            <td>Программист</td>
            <td>12.12.2012</td>
            <td>Разработка</td>
            <td><a href="">Удалить</a></td>
        </tr>

        <tr>
            <td><input type="checkbox"></td>
            <td>3</td>
            <td>Владимир</td>
            <td>Программист</td>
            <td>12.12.2012</td>
            <td>Разработка</td>
            <td><a href="">Удалить</a></td>
        </tr>

        <tr>
            <td><input type="checkbox"></td>
            <td>4</td>
            <td>Пётр</td>
            <td>Программист</td>
            <td>12.12.2012</td>
            <td>Разработка</td>
            <td><a href="">Удалить</a></td>
        </tr>

        <tr>
            <td><input type="checkbox"></td>
            <td>5</td>
            <td>Анна</td>
            <td>Дизайнер</td>
            <td>12.12.2012</td>
            <td>Отдел дизайн</td>
            <td><a href="">Удалить</a></td>
        </tr>

        <tr>
            <td><input type="checkbox"></td>
            <td>6</td>
            <td>Оля</td>
            <td>Дизайнер</td>
            <td>12.12.2012</td>
            <td>Отдел дизайн</td>
            <td><a href="">Удалить</a></td>
        </tr>

        <tr>
            <td><input type="checkbox"></td>
            <td>7</td>
            <td>Вера</td>
            <td>Дизайнер</td>
            <td>12.12.2012</td>
            <td>Отдел дизайн</td>
            <td><a href="">Удалить</a></td>
        </tr>

        <tr>
            <td><input type="checkbox"></td>
            <td>8</td>
            <td>Толя</td>
            <td>Дизайнер</td>
            <td>12.12.2012</td>
            <td>Отдел дизайн</td>
            <td><a href="">Удалить</a></td>
        </tr>

        <tr>
            <td><input type="checkbox"></td>
            <td>9</td>
            <td>Гена</td>
            <td>Кадровик</td>
            <td>12.12.2012</td>
            <td>Набор кадров</td>
            <td><a href="">Удалить</a></td>
        </tr>

        <tr>
            <td><input type="checkbox"></td>
            <td>9</td>
            <td>Валера</td>
            <td>Кадровик</td>
            <td>12.12.2012</td>
            <td>Набор кадров</td>
            <td><a href="">Удалить</a></td>
        </tr>

        <tr>
            <td><input type="checkbox"></td>
            <td>10</td>
            <td>Лена</td>
            <td>Кадровик</td>
            <td>12.12.2012</td>
            <td>Набор кадров</td>
            <td><a href="">Удалить</a></td>
        </tr>
        </tbody>
    </table>

</form>
    </div>
</body>
</html>